<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>React Tutorial(Component)</title>
</head>
<body>
    <h3>pre id=like_button_container</h3>
    <div id="root"></div>
    <div id="like_button_container"></div>
    <h3>post id=like_button_container</h3>
</body>
</html>

<script type="text/babel" src="./my_react.js"></script>
<script src="https://unpkg.com/react@18.2.0/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
